@import '/src/scss/main';

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: $main_width;
    margin: 0 auto;
    padding: 0 $main_ui_gap;
    gap: $main_ui_gap;

    &__navigation {
        flex-grow: 1;
    }
    &__logo {
        cursor: pointer;
    }
}