.card {
    display: flex;
    background-color: #fff;
    border-radius: 8px;
    overflow: hidden;
    &__image {
        object-fit: cover;
        &-wrapper{
            flex-basis: 320px;
            width: 220px;
            height: auto;
            background-color: gray;
            flex-shrink: 0;
        }
    }

    &__body {
        display: flex;
        flex-direction: column;
        flex-grow: 1;
        padding: 20px;
        row-gap: 8px;
    }

    &__footer {
        padding: 20px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        row-gap: 20px;
        flex-grow: 0;
        flex-shrink: 0;
        width: 200px;
    }

    &__title {
        display: flex;
        align-items: center;
        gap: 20px;
        &-text {
            margin: 0;
            cursor: pointer;
        }
        &-subtitle {

        }
    }

    &__rating {
        display: flex;
        column-gap: 8px;
        &-review {}
        &-cost {}
    }

    &__address {

    }

    &__kitchen-list{
        display: flex;
        gap: 10px;
    }

    &__avaliability {
        text-align: center;
    }
}
