@import '/src/scss/main';

.tab {
    display: flex;
    flex-direction: row;
    padding: 16px 24px;
    &__content {
        @include Subtitle-16;
        text-decoration: none;
        color: $color_black;
        &-wrapper {

        }

    }
}