// @use 'sass:math';
@import '/src/scss/main';

.button {
    padding: $main_ui_grid $main_ui_grid*5;
    border-radius: $main_ui_grid;
    border: 2px solid orange;

    box-shadow: none;
    &--fill {
        background-color: orange;
        color: #fff;
    }
    &--outline {
        background-color: transparent;
        color: orange;
    }
}