@import 'variables';

@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@200&display=swap');

@mixin Subtitle-16 {
    font-family: $main_font;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: left;
}